
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(https://conteudo.imguol.com.br/c/entretenimento/70/2021/05/25/codigo-binario-1621982130311_v2_3x4.jpg);
    background-repeat: repeat-y; 
    background-size: 100% auto; 
    /* background-attachment: fixed; */
}

section {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.s1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 20px -15px 20px;
    background-color: rgba(80, 80, 80, 0.950);
    padding: 50px;
    padding-left: 80px;
    border-radius: 20px;
    z-index: 2;
    line-height: 40px;
    font-size: 17px;
    position: relative;
}

.s1 h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 60px;
    padding: 20px;
    margin-bottom: 30px;
}

.s1 h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

.dsimg {
    height: 350px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.s2 {
    display: grid;
    margin: 0px 20px 20px 20px;
    background-color: rgba(110, 110, 110, 0.950);
    padding: 40px;
    border-radius: 0 0 20px 20px;
    z-index: 1;
    padding-top: 60px;
}

.linha1 {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    margin-right: 20px;
    border-bottom: 2px dotted black;
    padding-bottom: 60px;
    padding-top: 50px;
}

.linha2 {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    margin-right: 20px;
    border-bottom: 2px dotted black;
    padding-bottom: 60px;
    padding-top: 50px;
}

.linha2 h1 {
    margin-left: 30px;
}

.ulinha {
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    margin-right: 20px;
    padding-bottom: 60px;
    padding-top: 50px;
}

.video {
    margin: auto;
    width: 560px;
    height: 315px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.253);
}

.video:hover {
  outline: 12px solid rgba(9, 1, 39, 0.226);
}

.texto-video {
    font-size: 30px;
    line-height: 55px;
    letter-spacing: 2px;
    margin: auto;
}
