* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGL_ROsSy_S0sRdPw2rfftbdy4XMIheaCBMF-to-pV5kVjrIG53bmxQns-aWbD9xwjweE&usqp=CAU);
    background-repeat: repeat-y; 
    background-size: 100% auto; 
    background-attachment: fixed;
}

.s1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 20px 0 20px;
    background-color: rgba(80, 80, 80, 0.925);
    padding: 50px;
    border-radius: 20px;
    z-index: 2;
}

.s1 h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 60px;
}

.dsimg {
    height: 100%;
    margin: auto;
    border-radius: 5px;
}

.s2 {
    display: grid;
    margin: 0 20px 20px 20px;
    background-color: rgba(110, 110, 110, 0.925);
    padding: 50px;
    border-radius: 0 0 20px 20px;
}

.l1 {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
}
